.ioip {
    margin-top: 1.5vh;
    font-family: 'Roboto', sans-serif;
    transform: scaleX(1.1);
    letter-spacing: -0.5px;
    font-weight: inherit;
    font-size: 18px;
    margin-left: 6.7vw;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.ioipcontainer {
    margin-top: 7vh;
    border-style: solid;
    margin-right: 20px;
    text-align: left;
    width: 320px;
    height: 120px;
    margin-left: 1vw;
    border-radius: 10px;
    border-width: 1px;
    border-color: rgb(185, 185, 186);
    background-color:rgb(207, 207, 251);
    transition: background-color 0.8s ease;
    transition: box-shadow 0.2s ease;
}

.ioip1 {
    margin-left: 50px;
    word-spacing: 1px;
}

.ioipcontainer:hover {
    background-color:rgb(100, 100, 254);
    cursor: pointer;
    box-shadow: 2px 2px 3px black;
}

.ioiparrowimg {
    height: 40px;
    margin-right: 2.5vw;
    margin-top: 3.8vw;
    margin-bottom: 2vw;
    border-style: solid;
    border-radius: 300px;
    animation-name: rotaterrow;
    transform: rotate(180deg);
    transition: 0.2s ease-in;
    border-color: black;
}

.ioipflexer {
    display: flex;
    justify-content: space-between;
}

.ioiparrowimg:hover {
    box-shadow: -2px -2px 3px black;
    color: white;
    background-color: white;
    border-color: white;
}